@supports(grid-area: auto) {
    .site {
        display: grid;
        grid-template-columns: 10% 1fr 1fr 1fr 1fr 10%;
        grid-template-rows: 10% 110px 55px 45px 500px 10% 10% 10% 200px 60px;
        grid-template-areas: 
            'hd hd hd hd hd hd' 
            'nb nb nb nb nb nb' 
            '. dash dash dash dash .' 
            '. news news news news .' 
            '. side bar bar donut .' 
            '. side social social social .' 
            '. side contact contact contact .' 
            '. side know know know .' 
            '. ads ads ads ads .'
            'ft ft ft ft ft ft';
    }
    .header {
        grid-column: hd;
        display: flex;
        justify-content: flex-end;
        padding-right: 20%;
        background: #208de4;
        text-align: center;
    }
    .nav-bar {
        display:flex;
        justify-content: center;
        grid-column: nb;
        background-image: url(/img/background-nav-bar.png);
        text-align: center;
    }


    /* DASHBOARD AND SEARCH BAR STARTS HERE */
    .dash {
        grid-column: dash;
        display: flex;
        flex-direction: row;
        background: #33cc66;
        text-align: center;
    }



    .topnav{
        display:flex;
        justify-content: flex-end;
    } 
    .search-container {
        float: right;
      }
      
      .topnav input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
      }
      
      .topnav .search-container button {
        float: right;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background: white;
        font-size: 17px;
        border: none;
        cursor: pointer;
      }
      
      .topnav .search-container button:hover {
        background: blue;
      }
    
      /* ANNOUNCEMENTS START HERE */
    .news {
        grid-column: news;
        display: flex;
        flex-direction: row;
        border: solid;
        border-width: 1px;
        border-color:gray;
        font-family: "Myriad Pro";  
        font-family: 14pt;
    }

    .title-announ {
        display: flex;
        justify-content: flex-start;
        color:#fe7f13;
        border-right: solid;
        border-width: 1px;
        border-color: gray; 
    }

    .text-announ{
        display:flex;
        justify-content: center;
        border-right: solid;
        border-width: 1px;
        border-color:gray;  
    }


    /* START SIDE BAR */
    .sidebar {
        grid-area: side;
        display: flex;
        flex-direction: column;
        background: white;
        border-right: solid;
        border-left: solid;
        border-bottom: solid;
        border-width: 1px;
        border-color:gray;
        font-family: "Myriad Pro";
    }

    .tasks{
        display: flex;
        flex-direction: column;
    }

    .side-titles{
        padding-top:15px;
        padding-left: 25px;
        font-size: 1.6em;
        color: #2498f4;
    }
    
    .tasks-holder{
        display: flex;
        flex-direction: row;
        border-bottom: solid;
        border-width: 1px;
        border-color: gray;
        padding:15px;
    }

    .circle {
        /* border-radius: 50%; */
        behavior: url(PIE.htc); /* remove if you don't care about IE8 */
        display:flex;
        justify-content:center;
        align-items:center;
        background:green;
        border-radius: 100%;
        height: 1.5em;
        width: 1.5em;
        text-align: center;
        color:white;
    }

    .label{
        display:flex;
        justify-content: flex-start;
        font-size: 1.2em;
        padding-left:10px;
        padding-right:10px;
        color: #2498f4;
    }

    .count{
        display: flex;
        justify-content: flex-end;
    }



    .bar-chart {
        grid-column: bar;
        background: purple;
        text-align: center;
    }
    donut {
        grid-area: donut;
        background: orange;
        text-align: center;
    }
    .media {
        grid-column: social;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
    }
    .contact {
        grid-area: contact;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-between;
        background: pink;
        text-align: center;
    }
    .know {
        grid-column: know;
        background: #2498f4;
        border:solid;
        border-width: 1px;
        border-color:gray;
    }
    .ads {
        grid-column: ads;
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
        justify-content: center;
        background: #2498f4;
    }
    .footer {
        grid-column: ft;
        background: red;
        text-align: center;
    }
    .end {
        display: flex;
        justify-content: flex-end;
    }
    /* @media screen and (max-width:767px) {
        .site {
            grid-template-areas: 'hd hd hd hd' 'nv nv nv nv' 'main main main main' 'side side side side' 'ft ft ft ft';
        }
        .sidebar {
            grid-column: side;
            grid-row: main;
        }
        .main {
            grid-column: side;
            grid-row: side;
        }
    } */
}