@supports(grid-area: auto) {
    .site {
        display: grid;
        grid-template-columns: 10% 1fr 1fr 1fr 1fr 10%;
        grid-template-rows: 10% 110px 55px 45px 500px 10% 10% 10% 200px 60px;
        grid-template-areas: 
            'hd hd hd hd hd hd' 
            'nb nb nb nb nb nb' 
            '. dash dash dash dash .' 
            '. news news news news .' 
            '. side bar bar donut .' 
            '. side social social social .' 
            '. side cards cards cards .' 
            '. side know know know .' 
            '. ads ads ads ads .'
            'ft ft ft ft ft ft';
    }

    /* HEADER STARTS HERE */

    .header {
        grid-column: hd;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding-right: 20%;
        background: #208de4;
        text-align: center;
        font-family: 'Myriad Pro';
        color:white;
    }

    .header-title.spacer.header-help.header-settings{
        padding: 1%;
    }

    .nav-bar {
        display:flex;
        justify-content: center;
        align-items: center;
        grid-column: nb;
        text-align: center;
        background-image: url(../img/background-nav-bar.png);
    }


    /* DASHBOARD AND SEARCH BAR STARTS HERE */
    .dash {
        grid-column: dash;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: #33cc66;
        text-align: center;
    }

    .dash-title{
        display: flex;
        justify-content: center;
        align-items:center;
        color:white;
        padding: 3%;
    }

    .search{
        display: flex;
        flex-direction: row;
    }

    .mag-glass{
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .dashboard-search-icon{
        background: white;
    }
    
      /* ANNOUNCEMENTS START HERE */
    .news {
        grid-column: news;
        display: flex;
        flex-direction: row;
        border: solid;
        border-width: 1px;
        border-color:gray;

    }

    .title-announ {
        display: flex;
        justify-content: flex-start;
        justify-content: center;
        align-items: center;
        color:#fe7f13;
        border-right: solid;
        border-width: 1px;
        border-color: gray;
        width: 20%; 
    }

    .text-announ{
        display:flex;
        justify-content: center;
        align-items: center;
        border-right: solid;
        border-width: 1px;
        border-color:gray;
        width: 73%;

    }

    .arrows-announ{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 7%;
    }


    /* SIDE BAR START  */
    .sidebar {
        grid-area: side;
        display: flex;
        flex-direction: column;
        background: white;
        border-right: solid;
        border-left: solid;
        border-bottom: solid;
        border-width: 1px;
        border-color:gray;
        font-family: "Myriad Pro";
    }

    .tasks{
        display: flex;
        flex-direction: column;
    }

    .side-titles{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top:15px;
        padding-left: 25px;
        font-size: 1.6em;
        color: #2498f4;
    }

    .settings{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 7%;
   
    }

    
    .tasks-holder{
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: solid;
        border-width: 1px;
        border-color: gray;
        padding:15px;
    }

    .circle {
        behavior: url(PIE.htc); /* remove if you don't care about IE8 */
        display:flex;
        justify-content:center;
        align-items:center;
        background:green;
        border-radius: 100%;
        height: 1.5em;
        width: 1.5em;
        text-align: center;
        color:white;
    }

    .label{
        display:flex;
        justify-content: flex-start;
        font-size: 1.2em;
        padding-left:10px;
        padding-right:10px;
        color: #2498f4;
    }

    .count{
        display: flex;
        justify-content: center;
        justify-content: space-evenly; 
        align-items: center; 
        border: solid;
        border-width: 1px;
        border-color: gray;
        padding-left: 4%;
         padding-right: 4%;
        padding-top: 2%;
        padding-bottom: 2%; 

    }

    /* SIDES RECOMMENDATIONS */
    .recommendations{
        display:flex;
        flex-direction: column;
    }

    .recom-holder{
        display: flex;
        flex-direction: row;
        border-bottom: dashed;
        border-width: 1px;
        border-color: gray;
        padding:15px;
    }

    .recom-icon{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .recom-summary{
        display: flex;
        flex-direction: column;
    }
    .recom-article-green{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .recom-checklist-green{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .recom-tip-lightbulb{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    /* BAR CHART STARTS HERE */
    .bar-analytics {
        grid-column: bar;
        display: flex;
        flex-direction: column;
        padding: 10%;
        overflow: hidden;
    }

    .bar-summary{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .bar-chart{
        overflow: hidden;
    }
    /* DONUT STARTS HERE */
    .donut {
        grid-area: donut;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: solid;
        border-width: 1px;
        border-color: gray;
    }

    /* SOCIAL MEDIA STARTS HERE */
    .media {
        grid-column: social;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        padding: 2em;
        border-right: solid;
        border-bottom: solid;
        border-width: 1px;
        border-color: gray;      
    }

    .media-holder{
        display: flex;
        flex-direction: row;
    }

    .checkbox{
        -webkit-appearance: none;
        background-color: #fafafa;
        border: 1px solid #cacece;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
        padding: 7px;
        border-radius: 3px;
        display: inline-block;
        position: relative; 
    }

    /* Contacts and Customers starts here */
    .info-cards {
        grid-area: cards;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-evenly;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
        border:solid;
        border-width: 1px;
        border-color: gray;
    }
    .card{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid;
        border-width: 1px;
        border-color: gray;
    }

    /* DID YOU KNOW CARD */
    .know {
        grid-column: know;
        border:solid;
        border-width: 1px;
        border-color:gray;
        padding: 5%;
    }

    .know-holder{
        display:flex;
        flex-direction: row;
        background: #2498f4;
        justify-content: center;
        align-items: center;
    }
    .know-text{
        color:white;
    }

    .arrow-left{
        display:flex;
        justify-content: flex-start;
    }

    .arrow-right{
        display:flex;
        justify-content: flex-end;
    }
    .ads {
        grid-column: ads;
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
        justify-content: center;
        background: #2498f4;
    }
    .footer {
        grid-column: ft;
        background: red;
        text-align: center;
    }
    .end {
        display: flex;
        justify-content: flex-end;
    }
    /* @media screen and (max-width:767px) {
        .site {
            grid-template-areas: 'hd hd hd hd' 'nv nv nv nv' 'main main main main' 'side side side side' 'ft ft ft ft';
        }
        .sidebar {
            grid-column: side;
            grid-row: main;
        }
        .main {
            grid-column: side;
            grid-row: side;
        }
    } */
}